<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" 
     xmlns:ps="http://schemas.microsoft.com/wix/PSExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <!--<?ifdef env.BUILD_NUMBER?>
    <?define BUILD_NUMBER = $(env.BUILD_NUMBER)?>
  <?else?>-->
    <?define BUILD_NUMBER = "3.1.0.531"?>
  <!--<?endif?>-->
  <?define ProductName = "Pure Storage PowerShell Toolkit"?>
  <?define UpgradeCode = "A67E7ADE-B611-4BE6-BB96-B34A42265B4F"?>
  <?define ToolkitTopRight = "C:\Users\Barkz\Box Sync\github\PowerShell-Toolkit\Installer\logo_top_right.bmp"?>
  <?define ToolkitBackground = "C:\Users\Barkz\Box Sync\github\PowerShell-Toolkit\Installer\logo_black_bg.bmp"?>
  <?define ToolkitIcon = "C:\Users\Barkz\Box Sync\github\PowerShell-Toolkit\Installer\icon.ico"?>
  <?define PSD1 = "C:\Users\Barkz\Box Sync\github\PowerShell-Toolkit\PowerShell-Toolkit.psd1"?>
  <?define PSM1 = "C:\Users\Barkz\Box Sync\github\PowerShell-Toolkit\PowerShell-Toolkit.psm1"?>
  <?define RELNOTES = "C:\Users\Barkz\Box Sync\github\PowerShell-Toolkit\Installer\Release Notes.txt"?>
  <?define ModuleDirectory = "Toolkit"?>
  <?define ProductVersion="3.1.0.531"?>
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Pure Storage, Inc" UpgradeCode="$(var.UpgradeCode)">
		<Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <!--afterInstallValidate"-->
    <MajorUpgrade Schedule="afterInstallExecute" 
                  AllowSameVersionUpgrades="no"
                  Disallow="yes" DisallowUpgradeErrorMessage="Please remove the previous version of [ProductName] using Programs and Features."
                  AllowDowngrades="no"  DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ToolkitTopRight)" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ToolkitBackground)" />
    <!-- check if PowerShell 3.0+ is installed -->
    <Property Id="POWERSHELL3VERSION" Secure="yes">
      <!-- Supports PowerShell 3, 4 and 5/ PSExtensions's POWERSHELLVERSION only works for PowerShell v1 and v2 ... see http://wixtoolset.org/issues/4071/ -->
      <RegistrySearch Id="PowerShell3VersionSearch"
                      Key="SOFTWARE\Microsoft\PowerShell\3\PowerShellEngine"
                      Name="PowerShellVersion"
                      Root="HKLM"
                      Type="raw" />
    </Property>    
    <Condition Message="Installing [ProductName] requires Microsoft Windows PowerShell 3.0 or later.">
      <![CDATA[Installed OR (POWERSHELL3VERSION >= "3.0")]]>
    </Condition>
    <!-- BEGIN: check if .NET version 3.5+ is available -->
    <!-- taken from WIX_IS_NETFRAMEWORK_40_OR_LATER_INSTALLED implementation at https://github.com/wixtoolset/wix3/blob/develop/src/ext/NetFxExtension/wixlib/NetFx4.wxs . This is available Wix 3.10+ but not currently available in Wix 3.8 -->
    <!-- set to #1 if the .NET Framework 4.0 full is installed (not set otherwise) -->
    <Property Id="NETFRAMEWORK40FULL" Secure="yes">
      <RegistrySearch Id="NetFramework40Full" Root="HKLM" Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full" Name="Install" Type="raw" />
    </Property>
    <PropertyRef Id="NETFRAMEWORK35"/> <!-- this is exposed by WixNetFxExtension-->
    <!-- Assumption: Subsequent versions of .NET framework will set the appropriate SOFTWARE\Microsoft\NET Framework Setup\NDP\v3.5 registry key *if* they are compatible with .NET 3.5.
    See https://github.com/wixtoolset/wix3/blob/master/src/ext/NetFxExtension/wixlib/NetFx3.5.wxs for implementation in NetFxExtension -->
    <Condition Message="Installing [ProductName] requires .NET Version 3.5 or later.">
      <![CDATA[Installed OR NETFRAMEWORK35 OR NETFRAMEWORK40FULL]]>
    </Condition>
    <!-- END: check if .NET version 3.5+ is available -->
    <!-- BEGIN: check if conflicting version of the PowerShell SDK is installed -->
    <Property Id="CHECK_POWERSHELL_SDK_INSTALLED">
      <ProductSearch  UpgradeCode="CD5E935D-6F34-4A40-81B7-E6B397DBABE5" Minimum="1.5.4.0" IncludeMinimum="no" IncludeMaximum="no"></ProductSearch>
    </Property>
    <Condition Message="[ProductName] is incompatible with the currently installed Pure Storage PowerShell SDK version. Please upgrade to a later version of the SDK">NOT CHECK_POWERSHELL_TOOLKIT_INSTALLED</Condition>
    <!-- END: check if conflicting version of the powershell toolkit is installed -->
    <Property Id="ProgramFilesFolder" Value="ProgramFiles64Folder"></Property>
    <Property Id="ARPHELPLINK" Value="http://support.purestorage.com" />
    <Property Id="ARPCOMMENTS" Value="Pure Storage PowerShell Toolkit provides tools for PowerShell scripts to manage Pure Storage FlashArrays." />
		<MediaTemplate EmbedCab="yes" />
    <Icon Id="INSTALLER_ICON" SourceFile="$(var.ToolkitIcon)"/>
    <WixVariable Id="WixUILicenseRtf" Value="EULA.RTF" />
    <Property Id="ARPPRODUCTICON" Value="INSTALLER_ICON" />
    <UI>
      <Publish Dialog="ExitDialog"
          Control="Finish"
          Event="DoAction"
          Value="LaunchFile">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="View Release Notes" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>
    <Property Id="WixShellExecTarget" Value="[#RELEASE_NOTES]" />
    <CustomAction Id="LaunchFile"
        BinaryKey="WixCA"
        DllEntry="WixShellExec"
        Impersonate="yes" />
    <Property Id='REMEMBERLOCATION'>
      <RegistrySearch Id="RememberInstallLocation" Root="HKLM" Key="SOFTWARE\PureStorage\PowerShellToolkit" Name='Location' Type='raw' />
    </Property>
    <Feature Id="ProductFeature" Title="Pure Storage PowerShell Toolkit" Level="1" ConfigurableDirectory="PURESTORAGEPOWERSHELLFOLDER">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
    <UI></UI>
    <Property Id="WIXUI_INSTALLDIR" Value="PURESTORAGEMODULESFOLDER"></Property>
    <UIRef Id="WixUI_InstallDir"></UIRef>
	</Product>
	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="PURESTORAGEFOLDER" Name="Pure Storage">
          <Directory Id="PURESTORAGEPOWERSHELL" Name="PowerShell">
            <Directory Id="PURESTORAGEMODULESFOLDER" Name="Modules">
              <Directory Id="PURESTORAGEPOWERSHELLFOLDER" Name="PureStoragePowerShellToolkit">
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="PURESTORAGEPOWERSHELLFOLDER">
			<Component Id="ProductComponent" Guid="A67E7ADE-B611-4BE6-BB96-B34A42265B4F" Win64="yes">
        <util:RemoveFolderEx Id="RemoveInstallFolder" On="uninstall" Property="REMEMBERLOCATION"/>
        <RegistryValue Root="HKLM" Key="SOFTWARE\PureStorage\PowerShellToolkit" Name="Location" Value="[PURESTORAGEPOWERSHELLFOLDER]" Type="string" />
        <File Id="PureStoragePowerShell.psd1" Source="$(var.PSD1)"></File>
        <File Id="PureStoragePowerShell.psm1" Source="$(var.PSM1)"></File>
        <File Id="RELEASE_NOTES" Source="$(var.RELNOTES)"></File>
        <Environment Id="AppendPSModulePath" Action="set" Name="PSModulePath" Part="last" System="yes" Permanent="no" Value="[PURESTORAGEMODULESFOLDER]" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>